* {
  box-sizing: border-box;
}

.header1 {
  padding: 30px;
  text-align: center;
  background: white;
}

.header1 h1 {
  font-size: 50px;
}

#desc th{
	background-color : orange;
	color: white;
}
#customers th {
  background-color : #2E2E2E; 
  color: white;
}


th{
  background-color : #2E2E2E; 
  color: white;
}
#customers tr:nth-child(odd){background-color: #c0c0c0;}

#customers tr:hover {background-color: #ff8040;} 

table.qnadetail, table.qnaWrite {
	border-spacing: 0px;
	width: 100%;
	border: 1px solid orange;
	align: center;
}
table.qnadetail td, table.qnaWrite td {
	width: 0em;
	border: 1px solid orange;
} 
table.qnadetail th, table.qnaWrite th {
	width: 100%;
	border: 1px solid orange;
}

#qttin {
	width: 100%;
 	border: 1px solid white;
}

textarea {
 	resize: none;
 	width: 100%;
 	height: 30em;
 	border: 1px solid white
 }
 
 

